@{
  ViewBag.Title = "Reset Password";
}
<!-- MAIN CONTENT -->
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
      <div id="resetPassword" class="well no-padding">
        <form class="smart-form client-form" id="resetPassword-form" novalidate="novalidate">
          <header>
            Reset Password
          </header>
          <fieldset>
            <img src="~/img/logo.png" class="img-responsive loginlogo" alt="IgnitionLogo" style="margin: 0 auto;">
            <section id="success-message-area" class="form-group alert alert-success alert-dismissable" style="display: none; margin-left:0; margin-top: 25px">
              <span>Password has been reset.</span>
            </section>
            <section class="hideSection">
              <label class="label">New Password</label>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="newPassword"
                       id="newPassword" placeholder="Enter New Password" class="form-control"
                       required data-required-msg="New password is required">
              </label>
            </section>
            <section class="hideSection">
              <label class="label">Confirm Password</label>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="confirmPassword" data-val-equalto="New password does not match the confirm password"
                       id="confirmPassword" placeholder="Enter Confirm Password" class="form-control" data-val-equalto-other="newPassword"
                       required data-required-msg="Confirm password is required">
              </label>
            </section>
            <section id="message-area" class="form-group alert alert-danger alert-dismissable hideSection" style="display: none; margin-left:0;">
              <span data-bind="text: message"></span>
            </section>
          </fieldset>
          <footer class="hideSection">
            <button id="login-btn" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s" data-bind="click: reset" autofocus>
              <span class="fa fa-refresh"></span>
              <span class="ladda-label">&nbsp;&nbsp;Reset</span>
              <div class="ladda-progress" style="width: 104px;"></div>
            </button>&nbsp;&nbsp;
          </footer>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="~/Scripts/app/account/resetPassword.js"></script>